@model IEnumerable<School.Models.Course>

@{
    ViewData["Title"] = Localizer["courses"];
}

<h1>@ViewData["Title"]</h1>

<partial name="_StatusMessage" />

<p>
    <a asp-action="Create">@Localizer["create_new"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["name"]
            </th>
            <th>
                @Localizer["level"]
            </th>
            <th>
                @Localizer["description"]
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </tbody>
</table>
