@using System.Globalization
@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Localizer["school_name"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/School.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-horizontal navbar-expand-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand flex-grow-1" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["school_name"] - @(Localizer[User.FindFirst(ClaimTypes.Role)?.Value.ToLower()])</a>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end gap-md-3">
                    <partial name="_LanguageDropdownPartial" />
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid flex-grow-1" style="display: flex; flex-direction: row; margin: 0; padding: 0;">
        <header>
            <nav class="navbar navbar-vertical navbar-light bg-white border-end box-shadow">
                <ul class="navbar-nav flex-grow-1" style="width: 100%">
                    <li class="nav-item px-4">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["homepage"]</a>
                    </li>
                    <li class="nav-item px-4">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Courses">@Localizer["courses"]</a>
                    </li>
                    <li class="nav-item px-4">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Trainings">@Localizer["current_trainings"]</a>
                    </li>
                    <li class="nav-item px-4">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Teachers">@Localizer["teachers"]</a>
                    </li>

                    <hr class="my-4"/>

                    @if (User.IsInRole("Student"))
                    {
                        <li class="nav-item px-4">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="StudentCourses">@Localizer["my_courses"]</a>
                        </li>
                    }

                    @if (User.IsInRole("Teacher") || User.IsInRole("Admin"))
                    {
                        <li class="nav-item px-4">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="PendingRegistrations">@Localizer["pending_registrations"]</a>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="TeacherCourses">@Localizer["teacher_trainings"]</a>
                        </li>
                    }

                    @if (User.IsInRole("Admin"))
                    {
                        <hr />
                        <li class="nav-item px-4">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Users">@Localizer["users"]</a>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Teachers">@Localizer["teachers"]</a>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Courses">@Localizer["courses"]</a>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Trainings">@Localizer["trainings"]</a>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav" style="width: 100%">
                    <li class="nav-item px-4">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@Localizer["my_account"]</a>
                    </li>
                    <li class="nav-item px-4">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">@Localizer["about"]</a>
                    </li>
                    <li class="nav-item px-4">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">@Localizer["contact"]</a>
                    </li>
                </ul>
           </nav>
        </header>

        <div class="container py-4">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container d-flex flex-wrap justify-content-between align-items-center">
            <div class="text-muted small">
                &copy; @DateTime.Now.Year - @Localizer["school_name"]
            </div>
            <div class="text-muted small">
                <span class="me-2">@Localizer["contact"]:</span>
                <span>info@school.com</span>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>