@model IEnumerable<School.Models.Teacher>

@{
    ViewData["Title"] = Localizer["teachers"];
}

<h1>@ViewData["Title"]</h1>

<partial name="_StatusMessage" />

<p>
    <a asp-controller="Dashboard" asp-action="CreateTeacher">@Localizer["create_new"]</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Localizer["name"]
            </th>
            <th>
                @Localizer["qual"]
            </th>
            <th>
                @Localizer["photo"]
            </th>
            <th>
                @Localizer["user"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qualification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FotoPath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdentityUser.UserName)
                </td>
                <td>
                    <a asp-controller="Dashboard" asp-action="EditTeacher" asp-route-id="@item.Id">@Localizer["edit"]</a>
                    |
                    <a asp-controller="Dashboard" asp-action="DeleteTeacher" asp-route-id="@item.Id">@Localizer["delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
