@model IEnumerable<School.Models.Course>

@{
    ViewData["Title"] = Localizer["courses"];
}

<h1>@ViewData["Title"]</h1>

<partial name="_StatusMessage" />

<p>
    <a asp-controller="Dashboard" asp-action="CreateCourse">@Localizer["create_new"]</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Localizer["name"]
            </th>
            <th>
                @Localizer["level"]
            </th>
            <th>
                @Localizer["description"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-controller="Dashboard" asp-action="EditCourse" asp-route-id="@item.Id">@Localizer["edit"]</a>
                    |
                    <a asp-controller="Dashboard" asp-action="DeleteCourse" asp-route-id="@item.Id">@Localizer["delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
