@page
@model PersonalDataModel
@{
    ViewData["Title"] = Localizer["personal_data"];
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>@Localizer["personal_data_description"]</p>
        <p>
            <strong>@Localizer["delete_personal_data_warning"]</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">@Localizer["download"]</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">@Localizer["delete"]</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
