@model PeodeApp.Models.Kylaline

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Kas oled kindel, et soovid selle kustutada?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nimi)
        </dd>
        <dt class = "col-sm-2">
            E-post
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnKutse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnKutse)
        </dd>
        <dt class="col-sm-2">
            Üritus
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pyha.Nimi)
        </dd>
    </dl>
    
    <form asp-action="Delete" style="flex-direction: row">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Kustuta" class="btn btn-danger" /> |
        <a asp-action="Index">Tagasi nimekirja</a>
    </form>
</div>
