@model IEnumerable<PeodeApp.Models.Kylaline>

@{
    ViewData["Title"] = "Külaliste haldus";
}

<h1>@ViewData["Title"] @ViewBag.Filter</h1>

<p>
    <a asp-action="Index" class="btn btn-link">Kõik külalised</a>
    <a asp-action="Tulevad" class="btn btn-link">Tulevad</a>
    <a asp-action="MitteTulevad" class="btn btn-link">Ei tule</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Külalise nimi
            </th>
            <th>
                E-post
            </th>
            <th>
                Üritus
            </th>
            <th>
                Tegevused
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pyha.Nimi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Muuta</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detailid</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Kustuta</a>
            </td>
        </tr>
        }
    </tbody>
</table>
