@model IEnumerable<School.Models.Training>

@{
    ViewData["Title"] = Localizer["trainings"];
}

<h1>@ViewData["Title"]</h1>

<partial name="_StatusMessage" />

<p>
    <a asp-controller="Dashboard" asp-action="CreateTraining">@Localizer["create_new"]</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>@Localizer["name"]</th>
            <th>@Localizer["price"]</th>
            <th>@Localizer["start_date"]</th>
            <th>@Localizer["end_date"]</th>
            <th>@Localizer["max_participants"]</th>
            <th>@Localizer["course"]</th>
            <th>@Localizer["teacher"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@item.Price.ToString("C")</td>
                <td>@item.StartDate.ToString("d")</td>
                <td>@item.EndDate.ToString("d")</td>
                <td>@Html.DisplayFor(modelItem => item.MaxParticipants)</td>
                <td>@Html.DisplayFor(modelItem => item.Course.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Teacher.Name)</td>
                <td>
                    <a asp-controller="Dashboard" asp-action="EditTraining" asp-route-id="@item.Id">@Localizer["edit"]</a>
                    |
                    <a asp-controller="Dashboard" asp-action="DeleteTraining" asp-route-id="@item.Id">@Localizer["delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
